/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.idea
.phpstorm.meta.php
.php_cs.cache
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
coverage
coverage.clover
docs
Homestead.json
Homestead.yaml
npm-debug.log
phpunit.xml
sami.phar
yarn-error.log
